<!DOCTYPE html>
<html>
  <head>
    <title>Chat GPR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-10 px-5 gap-4">
      <% flash.each do |name, msg| %>
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mt-10 mb-5" role="alert">
          <p class="font-bold">Hmm, someting unusual happened 🔥 Feel free to <a href="https://github.com/valasek/chatgpt/issues" class="underline">report this issue on GitHub</a>.</p>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
